#options-panel {
   flex: 2 1 0;
   height: 100%;
   background-color: var(--blue-1);
   display: flex;
   flex-direction: column;
}

#options-panel-title {
   width: 100%;
   height: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.options-button {
   width: 100%;
   height: 10%;
}