.chat-textbox {
  padding: 2%;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
  outline: none;
  background-color: white;
  flex: 9 1 0;
}

.chat-textbox:focus {
  border-color: #0066cc;
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);
  background-color: rgb(238, 238, 238);
}
