:root {
    --blue-0: #edf0ff;
    --blue-1: #d6ddff;
    --blue-2: #b6c0ee;
    --blue-3: #8493d6;
    --blue-4: #586cc3;
    --blue-5: #273ea5;
    --beige: #ffeadd;
    --orange-0: #ffeadc;
    --orange-1: #ffd1b3;
    --orange-2: #ffab76;
    --orange-3: #ffbc42;
    --orange-4: #ff6f3c;
    --orange-5: #ff4e00;
}